<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!-- DataSource 설정 -->
	<import resource="classpath:config/datasource.xml" />

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:config/SqlMapConfig.xml"></property>
		<property name="mapperLocations">
			<list>
				<value>classpath:config/*Mapper.xml</value>
			</list>
		</property>
	</bean>
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>
	
	<!-- MapperScannerConfigurer 설정 -->
	<!-- 커스텀 태그를 사용하는 것은 필수는 아님. 빼고 싶으면 UserDaoImplMapper의 어노테이션도 제거해주자 -->
<!-- 	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="myspring.user.dao.mapper"/>
		<property name="annotationClass" value="myspring.user.dao.mapper.MyMapper" /> 
	</bean> -->

	<!-- Mapper 설정 -->
	<!-- userMapper에서 sqlSession을 참조하도록 설정 -->
	<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="myspring.user.dao.mapper.UserMapper" />
		<property name="sqlSessionTemplate" ref="sqlSession" />
	</bean>
	
</beans>
